# Binarios
bin/
*.exe*
*.test

# Go
vendor/


# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MCP local data
.env

# Config local
.config/

# Temp
tmp/
info.txt
.go-mcp
information
.kilo
go-indexing-mcp
